Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

<ul>
    <%= @classroom.students.each do |student| %>
        <li><%= render partial: "students/student", locals: {student: student} %></li>
    <%end%>
</ul>

<%= render partial: "classroom", locals: {classroom: @classroom} %>